@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
  background: #000;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .display-web {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.bg-custom-gradient-wave {
  background-repeat: no-repeat;
}
